<div id="nav" style="display: block;">
  <div class="inner">
    <a href="#" class="add"></a>
    <h2>Inbox</h2>
    <a href="#" class="menu"><% if (newMessages > 0 ) print('<span>' + newMessages + '</span>') %></a>
  </div>
</div>
<div style="clear:none"></div>
<ul style="padding-top: 62px">
<%
  _.each (threads, function (model, index) {
%>
  <li <%if (!model.get('read')) print ('class="bui-unread"') %> data-icon="false">
      <a href="#details/<%= model.get('id') %>">
          <p style="font-size: 18px"><%=model.get('author')%></p>
      </a>
  </li>
<%
  });
%>
</ul>



